body {
    height: 1400px;
    border: 10px solid rgb(19, 6, 83);
    background-color: rgb(226, 238, 243);
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

/* Introduction*/ 
.heading {

    display: flex;
    justify-content: center;  
    margin-top: 100px;

}

.heading .image  img {
    height: 325px;
    border-radius: 180px;
    width: 300px;
}


.header-text{
    
   /* border: 1px solid blue; */
    font-weight: bold;
    margin-left: 55px;
}



.text1 {
   color: rgb(13, 16, 75);
   font-size: 50px;
   white-space: nowrap;
   margin-top: 225px;
}


.text2 {
    color: black;
    font-size: 30px;
    margin-left: 400px;
}


/* Main content */


.main {
   display: flex;
   flex-direction: column; 
   width: 100vw;
   margin-top: 8vh;
}

.main1 {
    font-size: 70px;
    align-self: center;
    position: relative;
    right: 175px;

}

.main2 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
    text-align: justify;
    letter-spacing: 1.2px;
    align-self: center;
    width: 60%;
} 

/* Last section */

.section {
    /* position: absolute;
    top: 950px;
    left: 225px; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    

}

.section-div2 {
    margin-top: 14px;
    align-self: center;
    
}


.section-div1 {
    font-weight: bold;
    font-size: 18px;
    align-self: center;
    position: relative;
    right: 415px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.section-div2 ul li {
    position: relative;
    right: 90px;
    margin-top: 14px; 
}



.footer {

    margin-left: 610px;
    text-align: center;

} 



