body {
    margin: 0px;
    padding: 0px;
    height: 3468px;
} 

.section , .section-3 , .section-5 , .section-7 {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.div , .div-3 , .div-5 , .div-7  {
    background-color: rgb(29, 27, 27);
    padding: 14px 18px 14px 18px;
    color: white;
    font-size: 28px;  
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 8px;
}

.section {
    background-image: url(images/image1.png);   
}



.div  {
    
    position: absolute;
    top: 45%;
    left: 35%; 
    
}

.section-2 {
    width: 100vw;
    height: 320px;
    background-color: white;
    position: relative ;
    
}
.section-2-heading ,.section-4-heading {
       position: absolute ;
       left: 700px;
       top: 60px;
       font-weight: bolder;
       font-size: 24px;
}

.section-2-text {
    position: absolute ;
    left: 100px;
    top: 120px;
    right: 100px;
    
}
.section-2-text ,.section-4-text  , .section-6-text {
    letter-spacing: 1.5px;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
}

.section-3 {
    position: relative;
    background-image: url(images/image2.png);
 
}

.div-3 {
    position: absolute;
    top: 50%;
    left: 38%;
}


.section-4 {
    width: 100%;
    height: 320px;
    background-color: rgb(51, 50, 50);
    position: relative ;
}


.section-4-heading {
       color: white;
}

.section-4-text {
    position: absolute ;
    left: 100px;
    top: 120px;
    right: 100px;
    color: white;
}
.section-5 {
    position: relative;
    background-image: url(images/image3.png);
  
}

.div-5 {
    position: absolute;
    top: 40%;
    left: 33%;
    
}

.section-6 {
    width: 100%;
    height: 320px;
    background-color: rgb(51, 50, 50);
    position: relative ;
}
.section-6-heading {
       position: absolute ;
       left: 45%;
       top: 20%;
       font-weight: bolder;
       font-size: 24px;
       color: white;
}

.section-6-text {
    position: absolute ;
    left: 100px;
    top: 120px;
    right: 100px;
    color: white;
}
.section-7 {
    position: relative;
    background-image: url(images/image1.png);
}

.div-7 {
    position: absolute;
    top: 50%;
    left: 20%;
}

